cmake
numpy
scipy
torch==1.1.0
pillow==6.0.0
torchvision==0.3.0
sklearn
opencv-python
matplotlib
tensorboard==1.12
tensorboardX
pandas
MulticoreTSNE
scikit-video
tqdm
gitpython
colorlog
pretrainedmodels
